* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  padding-bottom: 40px;
}

.content {
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.content__wrapper {
  width: 350px;
}

.logo-text {
  /* background-image: url(assets/instagram-logo-text.svg); */
  margin: 20px 0 40px;
}

.auth-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.input {
  padding: 10px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  outline: 0;
  border-radius: 3px;
  transition: border .3s;
}

.input:focus {
  border: 1px solid #8e8e8e;
}

.auth-form__input {
  width: 100%;
  margin: 5px 0;
}

.auth-form__input_invalid {
  border: 1px solid #ffafaf;
  background-color: #ffdddd;
  
}

.auth-form__error-container {
  color: #ff4d4d;
  font-size: 12px;
}

.sign-up-link-container,
.auth-container {
  background: #fff;
  border: 1px solid #dbdbdb;
}

.sign-up-link-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 14px;
}

.submit-button {
  margin: 5px 0;
  background-color: #0095f6;
  border: 0;
  border-radius: 4px;
  padding: 7px;
  color: #fafafa;
  font-weight: bold;
}

.auth-form__submit-button {
  width: 100%;
}

.auth-container__auth-form {
  /* margin-bottom: 20px; */
}

.facebook-login-link {
  color: #385185;
  font-weight: bold;
  font-size: 14px;
}

.forgot-password-link {
  margin: 10px 0;
  color: #00376b;
  font-size: 12px;
}

.auth-container__facebook-login-link {
  margin: 10px;
}

.content__get-app {
  margin: 20px 0;
  text-align: center;
}

.store-links {
  display: flex;
  justify-content: center;
}

.store-links__link {
  margin-left: 5px;
}

.store-links__image {
  max-width: 136px;
}

.info-links-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-links-list__item {
  margin: 10px;
  font-size: 12px;
}

.info-links-list__link {
  color: #8e8e8e;
}

.or-divider {
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.auth-container__or-divider {
  width: 70%;
  margin: 10px 0;
}

.or-divider__or {
  color: #8e8e8e;
  font-size: 13px;
}

.or-divider__line {
  height: 1px;
  background-color: #8e8e8e;
  margin: 0 10px;
  width: 50%;
}

.auth-container__sign-up-cta {
  text-align: center;
  width: 70%;
  color: #8e8e8e;
  font-size: 17px;
  font-weight: bold;
  /* line-height: 20px; */
  margin: 0 40px 10px;
  text-align: center;
  opacity: 0.6;
}
