<div class="content__wrapper">
  <section class="auth-container">
    <h1 class="logo-text auth-container__logo-text">Instagram</h1>
    <form
      id="login-form"
      class="auth-form auth-container__auth-form"
      action=""
      novalidate
    >
      <input
        id="email"
        name="email"
        class="auth-form__input input"
        type="text"
        placeholder="Email"
      />
      <div class="auth-form__error-container error-container"></div>

      <input
        id="password"
        name="password"
        class="auth-form__input input"
        type="password"
        placeholder="Password"
      />

      <div class="auth-form__error-container error-container"></div>

      <button
        id="submit-button"
        class="auth-form__submit-button submit-button"
        type="submit"
      >
        Log In
      </button>
    </form>
    <div class="auth-container__or-divider or-divider">
      <div class="or-divider__line"></div>
      <div class="or-divider__or">OR</div>
      <div class="or-divider__line"></div>
    </div>
    <a class="auth-container__facebook-login-link facebook-login-link" href=""
      >Log in with Facebook</a
    >
    <a class="forgot-password-link" href="">Forgot password?</a>
  </section>
  <section class="sign-up-link-container">
    <p>Don't have an account? <a href="#register">Sign up</a></p>
  </section>
  <p class="content__get-app">Get the app.</p>
  <div class="store-links">
    <a class="store-links__link" href="#"
      ><img class="store-links__image" src="assets/app-store.png" alt=""
    /></a>
    <a class="store-links__link" href="#"
      ><img class="store-links__image" src="assets/google-play.png" alt=""
    /></a>
  </div>
</div>
