<div class="content__wrapper">
  <section class="auth-container">
    <h1 class="logo-text auth-container__logo-text">Instagram</h1>
    <h2 class="auth-container__sign-up-cta">
      Sign up to see photos and videos from your friends.
    </h2>
    <a class="auth-container__facebook-login-link facebook-login-link" href=""
      >Log in with Facebook</a
    >
    <div class="auth-container__or-divider or-divider">
      <div class="or-divider__line"></div>
      <div class="or-divider__or">OR</div>
      <div class="or-divider__line"></div>
    </div>
    <form
      id="registration-form"
      class="auth-form auth-container__auth-form"
      action=""
      novalidate
    >
      <input
        class="auth-form__input input"
        id="email"
        name="email"
        type="email"
        placeholder="Email"
      />
      <div class="auth-form__error-container error-container">
      </div>
      <!-- <input
        class="auth-form__input input"
        type="text"
        placeholder="Full Name"
      /> -->
      <input
        class="auth-form__input input"
        id="username"
        name="username"
        type="text"
        placeholder="Username"
      />
      <div class="auth-form__error-container error-container">
      </div>
      <input
        class="auth-form__input input"
        id="bday"
        name="bday"
        type="date"
        placeholder="Age"
      />
      <div class="auth-form__error-container error-container">
      </div>
      <input
        id="password"
        name="password"
        class="auth-form__input input"
        type="password"
        placeholder="Password"
      />
      <div class="auth-form__error-container error-container">
      </div>
      <input
        id="conf-password"
        class="auth-form__input input"
        type="password"
        placeholder="Confirm password"
      />
      <div class="auth-form__error-container error-container">
      </div>

      <button class="auth-form__submit-button submit-button" type="submit">
        Sign up
      </button>
    </form>
    <a class="forgot-password-link" href="">Forgot password?</a>
  </section>
  <section class="sign-up-link-container">
    <p>Have an account? <a href="#login">Log in</a></p>
  </section>
  <p class="content__get-app">Get the app.</p>
  <div class="store-links">
    <a class="store-links__link" href="#"
      ><img class="store-links__image" src="assets/app-store.png" alt=""
    /></a>
    <a class="store-links__link" href="#"
      ><img class="store-links__image" src="assets/google-play.png" alt=""
    /></a>
  </div>
</div>
